sudo: required
dist: trusty

language: java
jdk:
  - oraclejdk8

cache:
  directories:
    - $HOME/.m2/repository

before_install:
  # allocate commits to CI, not the owner of the deploy key
  - git config user.name "opentracingci"
  - git config user.email "opentracingci+opentracing@googlegroups.com"

  # setup https authentication credentials, used by ./mvnw release:prepare
  - git config credential.helper "store --file=.git/credentials"
  - echo "https://$GH_TOKEN:@github.com" > .git/credentials

install:
  # Override default travis to use the maven wrapper
  - ./mvnw install -DskipTests=true -Dmaven.javadoc.skip=true -B -V

script:
  - ./travis/publish.sh

branches:
  except:
    - /^[0-9]/

after_success:
  - mvn jacoco:report coveralls:report

env:
  global:
    # Ex. travis encrypt BINTRAY_USER=your_github_account
    - secure: "pvpRPcpQNFk60Bigw61WBADhX572O75wJMGebuyP/EItKiR5VGK0Ji3Hat65zH88Y+p7Sra7faaSdwbtMHAKRStxCNG0uMykcE7PLmqG2xy0Pqk9/im7AEqyepaNZyWKIgRSr9loipG5nXt5jKVbsddBUzmfLwy1Mosr8qD6ieHxd9Le+MslkKEqhzC9PryLip07QqckM3bWBp2C3hWEyuKhpKp5QkM8ae5aa0nPvzYGZ50sV6ie7S/ImIp8wS5VgyC+Fdih3r2S+JQ9EKSuikq5UYE8Sg+GcQYhl5suUUC34f82a9Hj23ETG4rtzjKVVLC2lBAu5Cp0t+7/wup2nScUyAEyjshbc27/mf0CtSK4qdHGSQazojDd3andV9CFq7i3QF8/FLtJ5aRbIMpBfD4VsVlVS+GXsc5E38ptp67i/+PwBEgOzXxZAj3sDTOwin5bplBwao407KwHhdpSZszr3STTYOdW/1GUVgxtmEuKCETYm0WRioGFNGuGmmejVtcOSIIcRv+YBMQNSJpc5yqSyU7E8omPytcjIVj0fO+MsMQFxts4kDsvPUUujlFtcIdRpnf6AszphyzBHi3j1fjdF2XqmHI1J8fUIedTJOCOXZFWAN57Nl3RT5jPjiq2ENuXqDcFiIOdJnZOaVuZX1DtZAx1G/+UVtYpZRa7DOk="
    # Ex. travis encrypt BINTRAY_KEY=xxx-https://bintray.com/profile/edit-xxx --add
    - secure: "MpSM9QQs7fMdJGWDST/Hj0uLcq/4w2xGAhM9peE1VmPwA4Fj7Vz5Gf7jgtV1fBMmhzupH/gpJGJO17ZlyUwfds+yxOvwTDmgX+fn4w00KAiSVnfghY+rvH+8NF/8IYEc2xj+nDztjAFDxMOOMfp8IQsjd3ugysOwr3EYDG+3RUB8n9QRHeRtKvXTBCsj0c8H0toI6IY5oPEHRlkj8fx42giJdAR/s29GVg/eHVNE2yQ8hNcxbnkBRUe9bZSS4zjQSZGGMIca665EGjfYIaokVE/SH4RZeTEFsM8C3I2re7FoytdS07Ld2M84G4TY7/MWBKvppjiB4A+5sWUA2GGTbr1UAM+nEMBqSC/4ddRVMH0SbudBIAiEGW0OoP1RMUsFluWu5pQa1JewnvlW+uvwWDZrVTfrRBV10Ek+3GNZa9A1aoSYn4Kr0Qs6J4WWY4dz3irlHf68SaRulT75u50A3AeYm/EP11e4JeoUFUJk3HH53YQbdoPD3XLTtrjJDArfQ/Y47t+V9ZV6T1zje1OFzaJ7VnZbMUaes1QOLIHAoUlyZurDqpWa2aRRphHUyC/SXiv9dvTcXENAFZHcEhJS29MQszrwgD4fqiWhlusaMpD8R5SD690eiSXynxHCDvVQVqAZUDL9JaFuiMfo3QCCHQPLIr2B+ifC7Oe2yRI0sS8="
    # Ex. travis encrypt GH_TOKEN=XXX-https://github.com/settings/tokens-XXX --add
    - secure: "AOqBdvkdQsV2xc5NghN+eFiZENiwMyUHqoe3TdwUMkcPQbB0mVLsQ5JSdEh+VklDa98ZJGTPnNSA1UzoLQ1ukmTH1YzTwkl9nNVA0wBc95HesGjB7vFWniUsP45GIDwFnwPVgXkzgI8QT4Tqc067FusCRJQdr70wIlFoTYa8RgVGWZWvtBEakzAGcj68mBDeb5YPMyTLNjjw4Vfn7rnOmVShg7H29CN0zJgEYUM03kMVt01aXUCdvbob15Zuw0BflOx4I43YE4uCkeZqqmlM/3Y3mOEQtucvMmM1pfCg6wDUowGvI1+eM/ECKPQNnt/nWHqUw/4qZPQccZavXG+61t7/te1/fEGZxypLD+Pm9bzGy3uXtQ2sEKXqes6RL2NOs4glOptwbx38DiSeMPTKppa4MpZXyywsBNnbW263I82bsagOy8886AWVfIBROuLEkwPzCgMe58ZYnlvvcNCneWg5tGPSDOz33B0d8sUbZ9QYZywslJzjLcVEztWJPV7R1qxNo7o8FxKRlP4wnlaj9TCgIbeCZ2SVuje14QjnY7jIcwUx906TMFpTgjFGlxwvA8l+67yrYjgbTE80hH4IEpLKo3Hj/cFK3N0Xq7H57/HeXdvq00Znne2iFq0ZUadIDjLgyim47Dl0SqgEugutsTY/f5cmZXNJkIIxrUy9ENE="
    # Ex. travis encrypt SONATYPE_USER=your_sonatype_account
    - secure: "QGuUQrTHvDaXNZBRsMkjsZODkbnwoyIR2wmC4LQksSarK4eJ9wROdCxszww8aNk2jpYTD/dOvH392CpbFNheUNGRdu+Nb4pRQpgyGRS+g083fW/WWytgzgyGFewD5UCaNPMffTcjLctsa4CzNIkrJ45229P7qOAaR/dwaCOhwUAW+0NC4PC5nPm8J5bTL3ic+V6AiOyXkFLtFH/oxuxDu7NqiEXhEJHV0+hg5lGUf6p7TtbYHtluCKkhuDIEz+TMxW/5ovlt29dLUQq/I0cpvsCuiIMxq2pLvGiFN0cpMOvqopLr25E0IPkFcgZXMu0Zuc0j49++dcyTOi4pXsnnZwIlfpEdDzqTikHTmLd8IvG6c83qY/ZWX+nbfuag7VejexuwHlkQ3y6K+/XTZk3/4wtx1HrzKobvxLFJa43iy3ue3SWW5Yvt9jxuhYJSZKkO3PF6l1qxkUgDIRSJGrI87C4u7hKdycMU6khdT9Wyp5yCtcRpI9QgLvZhZ5Ovqxw2iCVfA6IVPgFUlg9kOM7XABNmUP+/l3iV4cj/JritQjAaQ6F4a+AnOUwX7lEi+QomqxjTlzw2Ry24JLlcWrgD3oDTn9CJGtqhh10vB4Mo+zJ6Y5CI4rBTzOBpFm5xPQZDY+Y07bclNc9787TP2ml2Fs6VA5NBZI/ZNFgqADTRXHU="
    # Ex. travis encrypt SONATYPE_PASSWORD=your_sonatype_password
    - secure: "P552q7mI6tzyivyNOac/Cx5bwF8C1t8A9ZYyxexlmiVUKxZG4aFm6qLZTW4gQX1ZAIXNnawgAoa3QGrl8KTZrWXXpp47tOFwn0YMjH2fyYh9xZvCijSt+Srv5ttINjJ+t66IyNfrDKfnF+C9RTQKN7VoAoxAVcDf/lIvaLxzdb+1e+EH6/s1S3Js6PwDxezLsCwzevLBij0SwFPELslrLW4SLTn2INIPU43j6jeZl26z6TFKYdIqmaxuH39Ua4Mz+osJ+/J/Qkig6uhwlhRKDvDi4BM5SKIGvEZTV/5LG24Qiq8+s9QFFml3ToVc784XdUCehDg1eWZ2NE05oGSVC88d+9r72atTTAcKKWves5nWScah+TMTzkBNN6tGbqwH2ycNOOlR552ArxnXKuCIGAGOR0PQQlra0HzRhYJtokrzEyYIx/d+NI1M/yQRrBEPJ11cOwzPmO4Do62G+1sOPo47xI4sWHc/LWOsf57pF2vnhtoIkGUbXY5xSNA1nomnpqHNqqZ02KoQUyrUnGZxjwdrCwsDfP1scRDflyZ9PT0ZHgw/p/I2CtcbVuwWU7rXMaGM/CnGwaA2BSuxIpj74+YoHaIFbGY5fm269GcRxk8QNZ4GdZ901XWaUWeUu7ZOj60ia6WKNCzWcw2zfDXNy9a0uvl/edgFRZt3EbvZulg="
